/*bookmark.css*/
 * {
    margin: 0;
    padding: 0;
}
html {
    color: #333;
    background-color: #d9dee2;
    background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
    background-repeat: no-repeat;
    font-family:"ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Micsoft YaHei";
}
h1 {
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}
h1:after, h1:before {
    background-color: #777;
    content:"";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 100px;
}
h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}
h1:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}
.bookContent{
    text-align: center;
    padding-top: 20px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    min-height: 240px;
    width: 400px;
    margin: 20px auto 0;
    padding: 30px;
    position: relative;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}
.bookContent .qrCodeImg{
    width: 200px;
    height: 200px;
    margin:40px 0;
}
.bookContent:before {
    content:'';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}
.copy {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #222;
    margin-top: 10px;
    text-shadow:0 1px 1px #fff;
}